
<ul *ngFor="let val of people; let i=index;let o=odd;let e=even">
    <li>{{i}}</li>
   <li>The name of people is ==={{val.name}}==={{o}}=={{e}}</li>
   <li>The age of people is ==={{val.age}}</li>
</ul>

<h1>ngStyle in Angular</h1>
<ul *ngFor="let val of people">
    <li [ngStyle]="{'color':getColor(val.desc)}">{{val.desc}}</li>
</ul>

<h1>ngClass in Angular</h1>
<h3 [ngClass]="'one four'">ngClass with String</h3>

<h3 [ngClass]="['one','four']">ngClass with array</h3>

<p [ngClass]="{'one':true,'four':false}">ngClass as a Object</p>

<div [ngClass]="getClassCss('mode')">
    Using as a component method
</div>

<h2>Data Binding In Angular</h2>
<h3>Interpolation</h3>
<p>Hello my Name is {{name}}</p>

<h3>Property Binding</h3>
<span [innerHTML]="name"></span>

<h3 *ngIf="headline">Event Binding</h3>
<button (click)="showConsole()">Click</button>


<h3>Two way Data Binding</h3>
Enter your Name:<input type="text" [(ngModel)]="data"/>{{data}}


<h3>Pipes in angular</h3>
<table border="1">
    <tr>
        <th>Name</th>
         <th>Age</th>
         <th>Designation</th>
         <th>Gender</th>
         <th>Date of Birth</th>
    </tr>
    <tr *ngFor="let person of people">
        <td>{{person.name | uppercase}}</td>
        <td>{{person.age}}</td>
        <td>{{person.desc}}</td>
        <td>{{person.gender}}</td>
        <td>{{person.dob}}</td>
    </tr>
</table>

<h3>Parameterized Pipes</h3>
<p>{{dob}}</p><br/>
<p>Medium:{{dob | date:'medium'}}</p><br/>
<p> Special Formate:{{dob| date:'dd/MM/yyyy'}}</p><br>
<p>Medium Time:{{dob | date:'mediumTime'}}</p><br/>
<p>{{salary | currency:'USD'}}</p>

<h3>Routing In Angular</h3>
<a [routerLink] = "['/student']">Student</a>||||

<div>
    <router-outlet> 
    </router-outlet>
</div>

<h2>Services in Angular</h2>
<h3>{{text}}</h3>